#mapid{
   height: 400px;
   width: 50%;
   border: 1px solid #999;
   margin: auto;

  }

body{
  background: #CEE2EC;
  text-align: inherit;
  padding: 2em;
}

h1{
  text-align: start;
  background: #fff;
  margin:auto;
  padding: 0.5em;
  width: 50%;
  border: 1px solid #000;
}

h2{
  text-align: start;
  margin:auto;
  width: 50%;
  padding-bottom: 0.5em;}

p{
  text-align: start;
  margin:auto;
  width: 50%;
  padding:0.5em;
  font-size: 18px;
  font-style: bold;
}




@media (max-width: 600px){
  #mapid{
    height: 800px;
    width:100%;
    margin: auto;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  body{
    margin:auto;
  }
  h1{
    margin: auto;
    margin-right: 5rem;
    width:100%;
    padding: 0em;}
  h2{
    margin: 0rem;
    width:100%;}
  p{
  margin: 0rem;
  width:100%;
  }
}
